<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smarttask17.joe.smarttask">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_logo_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.smarttask17.joe.smarttask.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.smarttask17.joe.smarttask.smartaskMain.SmarttaskMainActivity" />
        <activity
            android:name="com.smarttask17.joe.smarttask.introSlider.IntroActivity"
            />
        <activity android:name="com.smarttask17.joe.smarttask.permissionRequester.PermissionRequesterActivity" />
        <activity android:name="com.smarttask17.joe.smarttask.profileSwitcher.ProfileSwitcherActivity" />
        <activity android:name="com.smarttask17.joe.smarttask.smartaskMain.calendar.SingleDayActivity" />
        <activity android:name="com.smarttask17.joe.smarttask.smartaskMain.task.TaskPagerActivity" />
        <activity android:name="com.smarttask17.joe.smarttask.smartaskMain.newTask.NewTaskActivity" />
        <activity android:name="com.smarttask17.joe.smarttask.smartaskMain.settings.SettingsActivity" />
        <activity android:name="com.smarttask17.joe.smarttask.smartaskMain.profile.MyProfileActivity" />
        <activity android:name="com.smarttask17.joe.smarttask.smartaskMain.settings.settingsCoordinator.SubMenuActivity" />
        <!--
             <activity
            android:hardwareAccelerated="true" />
        -->
        <activity android:name="com.smarttask17.joe.smarttask.smartaskMain.profile.ProfileCreatorActivity"></activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>