<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joe.smarttask">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_logo_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SmartTask_MainPage.SMMainActivity" />
        <activity
            android:name=".IntroSlider.IntroActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".RequestPermission.PermissionActivity" />
        <activity android:name=".ChooseProfile.ChooseProfileActivity" />
        <activity android:name=".SmartTask_MainPage.Calendar.SingleDayActivity" />
        <activity android:name=".SmartTask_MainPage.Task.TaskPagerActivity" />
        <activity android:name=".SmartTask_MainPage.NewTask.NewTaskActivity" />
        <activity android:name=".SmartTask_MainPage.Settings.SettingsActivity" />
        <activity android:name=".SmartTask_MainPage.Profile.ProfileActivity" />
        <activity android:name=".SmartTask_MainPage.Settings.SubMenuFragments.SubMenuActivity" />
        <!--
             <activity
            android:hardwareAccelerated="true" />
        -->
        <activity android:name=".SmartTask_MainPage.Profile.CreateProfile"></activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>